
@model MeetingReservation.Models.Meeting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-right: 10px;">ثبت جلسه جدید</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="large-4 columns">
            <label>عنوان جلسه</label>
            @Html.TextBoxFor(model=>model.Title)
        </div>
        <div class="large-4 columns">
            <label>نام برگزار کننده</label>
            @Html.TextBoxFor(model=>model.Initiator.FirstName)                                                
        </div>
        <div class="large-4 columns">
            <label>نام خانوادگی برگزار کننده</label>
            @Html.TextBoxFor(model=>Model.Initiator.LastName)
        </div>
        <div class="large-4 columns">
            <label>کد ملی</label>
            @Html.TextBoxFor(model=>model.Initiator.NationalCode)
        </div>
        <div class="large-4 columns">
            <label>تاریخ برگزاری</label>
            @Html.TextBoxFor(model=>model.CustomDateTime.Date,new {type="date"})
        </div>
        <div class="large-4 columns">
            <label>زمان شروع</label>
            @Html.TextBoxFor(model=>model.CustomDateTime.StartTime,new {type="time"})
        </div>
        <div class="large-4 columns">
            <label>زمان اتمام</label>
            @Html.TextBoxFor(model => model.CustomDateTime.EndTime, new { type = "time" })
        </div>
        <div class="large-4 columns">
            <label>مکان جلسه</label>
            @Html.DropDownListFor(model=>model.Location.Id, new SelectList(ViewBag.locations, "Id", "Capacity"), "ظرفیت اتاق را انتخاب کنید")                
        </div>
        <input type="submit" class="success button large-2 columns" value="ثبت"/>
    </div>
}

